<div class="dog">

  <h1>It's a dog</h1>

  <%= form_tag("/", method: "get") do %>
  <%= select_tag "name", options_for_select(@breeds.map { |br| [br[:name], br[:value]] }) %>
  <%= submit_tag("Fetch") %>
<% end %>

<h3><%= @breed.name.gsub('-', ' ').titleize.split(" ").reverse.join(" ") %></h3>

<%= image_tag @breed.pic_url %>

</div>
